@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

.App {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b1d27;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header .title {
  text-align: left;
}

.header .heading {
  padding-left: 0;
  text-align: left;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: larger;
}

.heading {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

.mono {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.red {
  color: #8d3236;
}

.green {
  color: #4b805e;
}

.transparent {
  color: #00000000
}

.orderbook {
  border: 1px solid #2a2f3a;
  border-radius: 15px;
}

.header {
  padding: 5px;
  border-bottom: 2px solid #2a2f3a;
}

.tableHeadWrapper {
  padding: 0 30px;
}

.tableHead {
  padding: 5px;
  border-bottom: 1px solid #2a2f3a;
}

.tableContainer {
  position: relative;
  overflow: scroll;
  max-height: 70vh;

}

.bookTable {
  max-height: 70vh;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0 30px;
  /* overflow: scroll; */
}

.visualization {
  max-height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.vis-col{
  margin: 0;
  padding: 0;
}

.util {
  position: absolute;
  left: 0;
  top: 0;
}

.toggleFeed {
  position: relative;
}
